<div class="container" style="background:gray;">
    <form action="Create" method="post">
        <div class="row">
            <div class="col-3">
                <label for="fname">Name</Label>
            </div>
            <div class="col-9">
                <input type="text" id="fname" name="StudentName" placeholder="Your name. .">
                @* the value of attribute name should be the same name of prop in class student because this value will add to the prop *@
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="Age">Age</Label>
            </div>
            <div class="col-9">
                <input type="text" id="Age" name="StudentAge" placeholder="Your name. ." >
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="IsActive">IsActive</Label>
            </div>
            <div class="col-9">
                <input type="checkbox" name="IsActive" placeholder="Your name. .">
            </div>
        </div>
         <div class="row">
            <input type="submit" value="Save" style="background:red;" />
        </div>
    </form>
</div>









